@import 'tailwindcss';
@layer base{
    h1, h2, h3{
        font-weight: bold;
        margin: 1rem;
    }
    h1{
        font-size: 2.5rem;
        text-decoration: underline;

    }
    h2{
        font-size: 2rem;
        text-decoration: underline;
    }
    h3{
        font-size: 1.5rem;
        text-decoration: underline;

    }
    p{
        margin: 1rem;
        font-size: 1.25rem;
        font-family:Verdana, Geneva, Tahoma, sans-serif
    }
    button{
        margin: 1rem;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        background-color: #4CAF50;
        color: rgb(104, 13, 13);
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}