@import 'tailwindcss';
@layer base{
    h1, h2, h3{
        font-weight: bold;
        margin: 1rem;
    }
    h1{
        font-size: 2.5rem;

    }
    h2{
        font-size: 2rem;
    }
    h3{
        font-size: 1.5rem;
    }
    p{
        margin: 1rem;
        font-size: 1.25rem;
    }
}